* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.textContainer {
    width: 80%;
    margin: 50px auto 0;
    text-align: center;
    border: 1px solid gray;
    padding: 20px 0;
}

    .textContainer h4 {
        font-size: 45px;
    }

    .textContainer i {
        display: block;
        width: 60%;
        margin: 0 auto;
        font-size: 20px;
        font-family: italic;
        font-size: 20px;
    }

    .textContainer a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        padding: 15px;
        border: 1px solid transparent;
        background-color: lightblue;
        transition: 0.3 ease all;
        margin-top: 20px;
        border-radius: 5px;
    }

        .textContainer a:hover {
            color: lightblue;
            background-color: #fff;
            border-color: lightblue;
        }





#form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 40px;
}

.form_h1 {
    text-align: center;
    margin-bottom: 40px;
}

.form {
    width: 60%;
    margin: auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

    .inputContainer label {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .inputContainer input {
        padding: 10px;
        font-size: 18px;
    }

.formRadioContainer {
    font-size: 18px;
}

    .formRadioContainer b {
        margin: 20px 0;
        display: block;
    }

    .formRadioContainer li {
        margin-bottom: 20px
    }

        .formRadioContainer li:last-child {
            margin-bottom: 0;
        }

.form input[type="submit"] {
    margin: 20px auto 0;
    padding: 10px 30px;
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: lightblue;
    transition: 0.3s ease all;
    cursor: pointer;
}

    .form input[type="submit"]:hover {
        color: lightblue;
        border-color: lightblue;
        background-color: #fff;
    }

.form .submitContainer {
    display: flex;
    justify-content: center;
}

.user_list {
    margin-top: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}

    .user_list li {
        padding: 20px 10px;
        border: 1px solid lightgray;
    }

        .user_list li p {
            margin-bottom: 20px;
        }

            .user_list li p:last-child {
                margin-bottom: 0px;
            }
.input-validation-error {
    border: 2px solid red; 
    
}

.field-validation-error {
    color: red; 
}