
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="textContainer">
    <h4>New year Party Registration</h4>
    <i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit suscipit necessitatibus illo, delectus quam voluptatum, atque perspiciatis rem magni hic fugiat eum beatae ad fuga. Eaque, cum facere vel illum voluptates, est laboriosam nesciunt nulla, dolore corporis vero dolorem impedit nostrum qui suscipit eos.
    </i>
    <a asp-controller="Registration" asp-action="index">Registration</a>
</div>